In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("ai_job_dataset1.csv") 
df.head()

,job_id,job_title,salary_usd,salary_currency,salary_local,experience_level,employment_type,company_location,company_size,employee_residence,remote_ratio,required_skills,education_required,years_experience,industry,posting_date,application_deadline,job_description_length,benefits_score,company_name
0,AI00001,Data Scientist,219728,USD,219728,EX,PT,Sweden,M,Sweden,0,"Python, Computer Vision, R, Docker",Associate,13,Transportation,2024-09-23,2024-10-31,1132,6.6,TechCorp Inc
1,AI00002,Head of AI,230237,JPY,25326070,EX,PT,Japan,L,Japan,50,"Kubernetes, MLOps, Tableau, Python",Bachelor,10,Transportation,2024-07-26,2024-09-12,2299,8.5,Cloud AI Solutions
2,AI00003,Data Engineer,128890,EUR,109557,EX,CT,Germany,S,Germany,100,"Spark, Scala, Hadoop, PyTorch, GCP",Bachelor,12,Automotive,2025-01-19,2025-03-28,1329,5.5,Quantum Computing Inc
3,AI00004,Computer Vision Engineer,96349,USD,96349,MI,FL,Finland,L,Finland,50,"MLOps, Linux, Tableau, Python",PhD,2,Automotive,2024-07-20,2024-09-06,1132,6.8,Cognitive Computing
4,AI00005,Robotics Engineer,63065,EUR,53605,EN,FT,France,S,France,100,"R, Scala, SQL, GCP, Python",Associate,0,Finance,2025-03-16,2025-05-09,2011,9.3,Advanced Robotics

In [17]:
df.shape                   # Rows & columns
df.columns                 # Columns names
df.info()                  # Data types + non-null counts
df.describe()              # Summary stats for numeric columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_id                  15000 non-null  object
 1   job_title               15000 non-null  object
 2   salary_usd              15000 non-null  int64
 3   salary_currency         15000 non-null  object
 4   salary_local            15000 non-null  int64
 5   experience_level        15000 non-null  object
 6   employment_type         15000 non-null  object
 7   company_location        15000 non-null  object
 8   company_size            15000 non-null  object
 9   employee_residence      15000 non-null  object
 10  remote_ratio            15000 non-null  int64
 11  required_skills         15000 non-null  object
 12  education_required      15000 non-null  object
 13  years_experience        15000 non-null  int64
 14  industry                15000 non-null  object
 15  posting_date            15000 non-null  object
 16  application_deadline    15000 non-null  object
 17  job_description_length  15000 non-null  int64
 18  benefits_score          15000 non-null  float64
 19  company_name            15000 non-null  object
dtypes: float64(1), int64(5), object(14)
memory usage: 2.3+ MB

,salary_usd,salary_local,remote_ratio,years_experience,job_description_length,benefits_score
count,15000.000000,1.500000e+04,15000.000000,15000.000000,15000.000000,15000.000000
mean,121991.938267,8.292366e+05,50.196667,6.365667,1500.852600,7.499540
std,63968.361846,3.425325e+06,40.844084,5.598551,574.724647,1.444202
min,16621.000000,1.662100e+04,0.000000,0.000000,500.000000,5.000000
25%,74978.500000,7.383075e+04,0.000000,2.000000,998.750000,6.300000
50%,107261.500000,1.090355e+05,50.000000,5.000000,1512.000000,7.500000
75%,155752.250000,1.673278e+05,100.000000,10.000000,1994.000000,8.800000
max,410273.000000,3.368541e+07,100.000000,19.000000,2499.000000,10.000000

In [29]:
df.isnull().sum().sort_values(ascending=False)             # Idendify missing values

job_id                    0
job_title                 0
benefits_score            0
job_description_length    0
application_deadline      0
posting_date              0
industry                  0
years_experience          0
education_required        0
required_skills           0
remote_ratio              0
employee_residence        0
company_size              0
company_location          0
employment_type           0
experience_level          0
salary_local              0
salary_currency           0
salary_usd                0
company_name              0
dtype: int64

In [31]:
df['salary_usd'] = df['salary_usd'].replace('[\$]', '', regex=True).astype(float)

In [32]:
df['company_location'].unique()
df['job_title'].value_counts().head(10)

job_title
Machine Learning Engineer    824
Deep Learning Engineer       786
Computer Vision Engineer     780
AI Specialist                774
Data Engineer                769
Principal Data Scientist     768
AI Product Manager           764
Data Scientist               763
Robotics Engineer            762
AI Architect                 758
Name: count, dtype: int64

In [35]:
df['compant_location'] = df['company_location'].str.strip().str.title()
df['job_title'] = df['job_title'].str.lower().str.strip()

In [37]:
df['experience_level'] = df['experience_level'].str.lower().str.strip()
df['employment_type'] = df['employment_type'].str.lower().str.strip()

In [38]:
experience_map = {
                'entry-level' : 0,
                'mid_level' : 1,
                'senior-level' : 2,
                'executive' : 3,
}
df['experience_numeric'] = df['experience_level'].map(experience_map)

In [44]:
df.to_csv("ai_jobs_2025_cleaned.csv", index=False)

OSError: Cannot save file into a non-existent directory: 'This PC'